.header-container{
	padding: 5px;
}

.notifications-corner{
	float: right;
}

.notifications,
.messages{
	font-size: 22px;
	margin: 10px;
	vertical-align: middle;
	color: #ffffff;
}

.profile{
	margin: 10px;
}

.usr-img{
	height: 50px;
}

.usr-name{
	font-family: sans-serif;
	font-size: 15px;
	text-decoration: none;
	margin: 5px;
	color: #ffffff;
}

.usr-name:hover{
	text-decoration: none;
}

.ticker-container{
	color: #ffffff;
}

.ticker-text{
	margin-left: 10px;
}

.ticker-marquee{
	float: right;
	overflow: hidden;
	margin-right: 10px;
}

.ticker{
	white-space: nowrap;
	animation: marquee 10s linear infinite;
}

.stock{
	display: inline-block;
	margin: 0px 5px;
}

.stock-name{
	text-transform: uppercase;
}

.stock-stat{
	display: inline-block;
}

.stock-stat.green{
	color: green;
}

.stock-stat.red{
	color: red;
}

@keyframes marquee{
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-100%);
	}
}