.header-container{
	padding: 5px;
}

.notifications-corner{
	float: right;
}

.notifications,
.messages{
	font-size: 22px;
	margin: 10px;
	vertical-align: middle;
	color: #ffffff;
}

.profile{
	margin: 10px;
}

.usr-img{
	height: 50px;
}

.usr-name{
	font-family: sans-serif;
	font-size: 15px;
	text-decoration: none;
	margin: 5px;
	color: #ffffff;
}

.usr-name:hover{
	text-decoration: none;
}

.ticker-container{
	color: #ffffff;
}

.ticker-text{
	margin-left: 10px;
}

.ticker-marquee{
	float: right;
	overflow: hidden;
	margin-right: 10px;
}

.ticker{
	white-space: nowrap;
	animation: marquee 10s linear infinite;
}

.stock{
	display: inline-block;
	margin: 0px 5px;
}

.stock-name{
	text-transform: uppercase;
}

.stock-stat{
	display: inline-block;
}

.stock-stat.green{
	color: green;
}

.stock-stat.red{
	color: red;
}

@keyframes marquee{
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-100%);
	}
}

.features-container{
	text-align: center;
	padding:20px;
}
.feature-box{
	text-align: center;
	padding: 10px;
	width: 150px;
	display: inline-block;
    background: rgba(0,0,0,0.4);
    color: #ffffff;
    margin: 0px 20px;
}


.feature-img{
	font-size: 70px;
}

.feature-text{
	display: block;
	margin-top: 20px;
}

.notifications-container{
	-webkit-perspective: 500px; /* Chrome, Safari, Opera */
    	perspective: 500px;
	/*animation: bounce 1s ease-in-out;*/
}

.notification-card{
	width: 100%;
	background: rgba(0,0,0,0.4);
	padding: 10px;
	border-style: solid;
	border-width: 0px 0px 1px;
	border-color: #000000;
}

.notification-det{
	display: inline-block;
	padding: 0px 5px;
}

.notification-usr-name,
.notification-time{
	color: #909090;
}

.notification-mes{
	display: block;
	color: #ffffff;
}

@keyframes bounce{
	0%{
		-webkit-perspective: 500px; /* Chrome, Safari, Opera */
    	perspective: 500px;
	}
	100%{
		-webkit-perspective: 500px; /* Chrome, Safari, Opera */
    	perspective: 500px;
	}
}