body {
  background-image: url(../img/background.png);
  background-size: 100% 100%;
  color: white;
}

.stats-container {
  padding: 1em 0;
  border-bottom: 1px solid #595959;
  margin-bottom: 1em;
  .col-lg-3 {
    .row {
      background: rgba(0,0,0,0.4);
      margin: 0 .2em;
      padding: 2em 0em;
      .col-lg-4 {
        h3 {
          margin: 0;
          font-size: 1.5em;
          padding: 0;
          margin-bottom: 6px;
        }
        p {
          margin: 0;
          font-size: 10px;
        }
        i {
          font-size: 3em;
        }

        &.icon-parent {
          text-align: right;
        }
      }
    }
  }
}

.poop-container {
  padding: 0;
}


.panel {

  border: none;
  border-radius: 0px;
  background-color: transparent !important;

  .panel-heading {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 0px;
  }

  .panel-body {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 0px;
  }
}
